<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='cl.png') }}" type="image/png">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
      <a href="/" class="logo">CryptoNotes</a>
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="/notes">Courses</a></li>
          <li class="nav-dropdown">
            <a href="{{ url_for('profile') }}">Logged in as <label id="username">{{ current_user.userID }}</label></a>
            <div class="nav-dropdown-content">
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
          </li>
          
        {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <div id="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">
                        {{ message }}
                        <button class="close-btn" data-dismiss="flash" type="button">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Page-specific content -->
    <main>
      {% block content %}{% endblock %}
    </main>



<script src="{{ url_for('static', filename='app.js') }}" defer></script>
</body>
</html>