{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Create an account</h1>
<form class="login-form" method="POST">
    {{ form.hidden_tag() }}
    {{ form.user_id.label }}{{ form.user_id(placeholder="User ID") }}
    {% for error in form.user_id.errors %}<p>{{ error }}</p>{% endfor %}
    {{ form.email.label }}{{ form.email(placeholder="Email") }}
    {% for error in form.email.errors %}<p>{{ error }}</p>{% endfor %}
    {{ form.name.label }}{{ form.name(placeholder="Name") }}
    {{ form.department.label }}{{ form.department(placeholder="Department") }}
    {{ form.password.label }}{{ form.password(placeholder="Password") }}
    {{ form.confirm_password.label }}{{ form.confirm_password(placeholder="Confirm password") }}
    {{ form.submit() }}
</form>
{% endblock %}